@CHARSET "ISO-8859-1";

 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
      width: 600px;
      height: 400px;
      margin: auto;
  }
  .carousel-control{
	background-color: rgb(255, 255, 255);
  }
  
  .item img {
  height: 80px;
  }
  
 .imagenes-familia-container img{ 
  
  }
  
  
  .centerImage {
    text-align: center;
    margin: 34px 0;
}
	
  
 